* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  min-height: 100vh;
  background-color: aliceblue;
  font-family: sans-serif;
}

#main {
  width: 94%;
  margin: auto;
  background-color: aliceblue;
  box-shadow: 0 5px 9px gray;
}

.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

h2 {
  font-weight: normal;
}

.add {
  width: 100%;
}

input[type=text] {
  padding: 15px;
  display: block;
  outline: none;
  border: none;
  width: 100%;
  font-size: 18px;
  font-style: italic;
  background-color: inherit;
}

.todo-list .list {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
}

.list-description {
  display: flex;
  align-items: center;
  width: 85%;
}

input[type=checkbox] {
  display: inline-block;
  border: 0;
  position: relative;
  top: 2px;
  height: 30px;
  width: 20px;
  margin-right: 7px;
}

input[type=checkbox]:hover {
  cursor: pointer;
}

.icon {
  font-size: 20px;
  color: rgb(175, 175, 175);
}

#completed {
  padding: 13px;
  text-align: center;
  font-size: 20px;
}

#completed:hover {
  cursor: pointer;
}

#completed .complete {
  font-size: 19px;
  color: rgb(177, 173, 173);
}

#completed .complete:hover {
  color: rgb(88, 86, 86);
}

@media (min-width: 768px) {
  #main {
    width: 50%;
  }
}
